.search-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-wrapper input {
    height: 50px;
    width: 100%;
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: 3(0.3fr 1fr 0.3fr);
    border-radius: 20px;
    border: none;
}