.card-wrapper-wide {
    height: 130px;
    width: 330px;
    background-color: red;
    border-radius: 20px;
    margin: 10px 10px 10px;
}

.card-wrapper-wide .body {
    padding: 8px 8px 8px 8px;
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.2fr;
}

.card-wrapper-wide .body .card-image {
    height: 110px;
    width: auto;
    border-radius: 20px;
    background-color: blue;
}

.card-wrapper-wide .body .content {
    text-align: left;
    padding-left: 8px;
}

.card-wrapper-wide .body .content .card-title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.card-wrapper-wide .body .content .card-subtitle {
    margin-top: 5px;
    font-weight: bold;
    font-size: 13px;
    color: grey;
}

.card-wrapper-wide .body .content .price {
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.card-wrapper-wide .body .content .extra {
    margin-top: 5px;
    font-weight: bold;
    font-size: 13px;
    color: grey;
}

.card-wrapper-wide .body .btn-add {
    padding-top: 50px;
}